@model IEnumerable<CatchTheFish.DbEntities.FdaCalendar>

@{
    ViewBag.Title = "Fda Canlendars All";
}

<h2>@ViewBag.Title</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatalystDate)
        </th>
        <th class="hidden-xs hidden-sm">
            @Html.DisplayNameFor(model => model.CatelystNotes)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastMoidfiedDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarketCapital)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatalystDate)
        </td>
        <td class="hidden-xs hidden-sm">
            @Html.DisplayFor(modelItem => item.CatelystNotes)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LastMoidfiedDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarketCapital)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
